<!-- header and footer are included using layouts -->
<!-- use the EJS docs tags section for the <%- -%> info -->
<!-- this inserts anything in the header.ejs file into this block of code  -->
<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is to test the about page</p>

<%- include("footer") -%>
