<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <!-- express doesn't automatically load up all the files, so you can't just use css/styles.css -->
  <!-- the files need to be served up by the server since express -->
  <!-- Need to use the app.use(express.static()) line in the app.js to tell express to load files that aren't loaded by default -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
